:root{
    --black: #000;
    --gray: #111111;
    --white: #FFF;
    --red: #d70000;
    --darkred: darkred;
}

body{
    background-color: var(--black);
    font-family: roboto, Arial, sans-serif;
    color: var(--white);
}

a{
    text-decoration: none;
}

/* Scrollbar */
/* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--red) var(--gray);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--gray);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 10px;
    border: 3px solid var(--red);
  }

/* Index*/

#index{
    background-color: var(--black);
    color: var(--white);
}

#index main .descIndex{
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

#index main .descIndex #btnDiscord a button{
    width: 200px;
    font-weight: 600;
    background: none;
    color: var(--white);
    padding: 10px 40px;
    margin: 10px 0;
    border: var(--red) solid thin;
    border-radius: 20px;
    transition: transform 0.2s;
}

#index main .descIndex #btnDiscord a button:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: var(--red);
    transform: scale(1.2)
}

#index .carousel-control-next:hover,#index .carousel-control-prev:hover{
    background-color: rgba(0,0,0,0.7);
}

/* Footer */

footer .footer-sticky{
    position: fixed;
    width: 500px;
    height: 200px;
    bottom: 0;
    left: 50%;
    margin-bottom: -175px;
    margin-left: -250px;
}

footer .footer-sticky p{
    text-align: center;
}

footer .footer-sticky p a{
    border: var(--red) solid thin;
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
}

footer .footer-sticky p a:hover{
    color: var(--white);
    border: var(--darkred) solid thin;
    background-color: var(--darkred);
    text-decoration: none;
}

/* Navegação */


nav{
    background-color: var(--gray);
    overflow: auto;
    clear: both;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 1px;
}

nav ul li{
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2em;
    padding: 8px 50px;
    line-height: 2em;
}

nav ul li a:hover{
    text-decoration: underline;
    color: var(--white);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--white);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link{
    color: var(--red);
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../midia/navToggler.png)
}

/* Header */

/* Programação */

#programacao main{
    max-width: 100%;
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

#programacao h1{
    font-weight: bolder;
    background-color: var(--darkred);
    max-width: 100%;
    width: 1000px;
    margin: 0 auto 40px auto;
    padding: 5px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
}

#programacao caption{
    caption-side: top;
    text-align: center;
    font-size: 2em;
    border: var(--white) solid 1px;
    border-radius: 0px 0px 0 0;
    color: var(--white);
    background-color: var(--darkred);
}

#programacao td, 
#programacao th{
    text-align: center;
}

#programacao th[colspan="6"]{
    font-size: 2em;
}

#programacao table{
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.7);
    border-collapse: collapse;
    width: inherit;
}

#programacao td, #programacao th{
    border: 1px solid var(--white);
    padding: 20px;
}
#programacao th{
    background-color: var(--darkred);
}
#programacao tr:hover{
    background-color: rgba(100, 0, 0, 0.6);
}

/* Filmes */

#filmes .filmes-layout{
    display: flex;
    margin: 50px 200px;
}


@media (max-width: 1163px){
    #filmes .filmes-layout{
        display: block;
        margin: 0 auto;
    }
    #filmes main .filmes-layout .filme-img{
        margin: 0 auto;
        width: 360px;
    }
}

#filmes main h1{
    font-weight: bolder;
    background-color: var(--darkred);
    max-width: 100%;
    width: 1000px;
    margin: 0 auto 40px auto;
    padding: 5px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
}



#filmes main .filmes-layout .filme-img figure img{
    border: var(--darkred) solid thick;
    
}

#filmes main .filmes-layout .filme-img figure figcaption{
    font-size: 12px;
    text-align: center;
    background-color: var(--darkred);
    width: 360px;
}

#filmes main .filmes-layout .filme-descricao dt{
    background-color: var(--darkred);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#filmes main .filmes-layout .filme-descricao dd{
    border: 2px var(--darkred) solid;
    border-radius: 0px;
    margin: -2px 40px 30px 40px;
    padding: 30px;
    text-align: center;
}

#filmes main .filmes-layout .filme-descricao dd strong{
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--darkred);
}


/* Series / Sequencias */

#series .series-layout{
    display: flex;
    margin: 50px 200px;
}


@media (max-width: 1163px){
    #series .series-layout{
        display: block;
        margin: 0 auto;
    }
    #series main .series-layout .serie-img{
        margin: 0 auto;
        width: 360px;
    }
}

#series main h1{
    font-weight: bolder;
    background-color: var(--darkred);
    max-width: 100%;
    width: 1000px;
    margin: 0 auto 40px auto;
    padding: 5px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
}

#series main .series-layout .serie-img figure img{
    border: var(--darkred) solid thick;
    
}

#series main .series-layout .serie-img figure figcaption{
    font-size: 12px;
    text-align: center;
    background-color: var(--darkred);
    width: 360px;
}

#series main .series-layout .serie-descricao dt{
    background-color: var(--darkred);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#series main .series-layout .serie-descricao dd{
    border: 2px var(--darkred) solid;
    border-radius: 0px;
    margin: -2px 40px 30px 40px;
    padding: 30px;
    text-align: center;
}

#series main .series-layout .serie-descricao dd strong{
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--darkred);
}

/* Sobre */

#sobre h1{
    font-weight: bolder;
    background-color: var(--darkred);
    max-width: 100%;
    width: 500px;
    margin: 0 auto 40px auto;
    padding: 5px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
}

#sobre dt{
    background-color: var(--darkred);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#sobre dd{
    border: 2px var(--darkred) solid;
    border-radius: 0px;
    margin-top: -2px;
    margin-bottom: 30px;
    padding: 30px;
}
#sobre dd a{
    font-weight: bold;
    color: var(--red);
}

#sobre dd a:hover{
    color: var(--darkred);
}

#sobre dd{
    text-align: center;
}


/* CELULAR */

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}