body{
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

/* Scrollbar */
/* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #d70000 #2c2c2c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #2c2c2c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d70000;
    border-radius: 10px;
    border: 3px solid #d70000;
  }

/* Index*/

#index{
    background-color: black;
    color: white;
}
#index main{
    text-align: center;
}

#index main p a{
    color: white;
    padding: 10px;
    border: red solid thin;
    border-radius: 20px;
}

#index main p a:hover{
    background-color: red;
}

#index main #layout{
    padding: 200px;
    width: auto;
    height: auto;
    background-image: url(../midia/layout.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    text-indent: -100000px;
}

/* Footer */



/* Navegação */


nav{
    background-color: #111111;
    overflow: auto;
    clear: both;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 1px;
}

nav ul li{
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 8px 50px;
    line-height: 2em;
}

nav ul li a:hover{
    text-decoration: underline;
    color: white;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link{
    color: red;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../midia/navToggler.png)
}

/* Header */

/* Programação */

#programacao main{
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

#programacao caption{
    caption-side: top;
    text-align: center;
    font-size: 2em;
    border: white solid 2px;
    border-radius: 0px 0px 0 0;
    color: white;
    background-color: rgba(150, 0, 0, 0.9);
}

#programacao td, #programacao th{
    text-align: center;
}

#programacao table{
    background-color: rgba(0,0,0,0.7);
    border-collapse: collapse;
    width: 100%;
}
#programacao td, #programacao th{
    border: 1px solid white;
    padding: 20px;
}
#programacao th{
    background-color: rgba(150, 0, 0, 0.9);
}
#programacao tr:hover{
    background-color: rgba(100, 0, 0, 0.6);
}

/* Filmes */

#filmes dd a{
    border: red solid thin;
    padding: 10px;
    color: white;
}

#filmes dd a:hover{
    background-color: red;
    text-decoration: none;
}

#filmes figure{
    text-align: center;
}
#filmes h1{
    text-align: center;
}
#filmes dt{
    background-color: rgba(150, 0, 0, 0.9);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#filmes dd{
    border: thin rgba(150, 0, 0, 0.9) solid;
    border-radius: 0px;
    margin: -2px 40px 30px 40px;
    padding: 30px;
    text-align: center;
}
#filmes hr{
    border-bottom-width: medium;
}
#filmes figure figcaption{
    font-size: 12px;
}

/* Series / Sequencias */

#series dd a{
    border: red solid thin;
    padding: 10px;
    color: white;
}

#series dd a:hover{
    background-color: red;
    text-decoration: none;
}

#series figure{
    text-align: center;
}
#series h1{
    text-align: center;
}
#series dt{
    background-color: rgba(150, 0, 0, 0.9);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#series dd{
    border: thin rgba(150, 0, 0, 0.9) solid;
    border-radius: 0px;
    margin: -2px 40px 30px 40px;
    padding: 30px;
    text-align: center;
}
#series hr{
    border-bottom-width: medium;
}

/* Sobre */

#sobre h1{
    text-align: center;
}
#sobre dt{
    background-color: rgba(150, 0, 0, 0.9);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#sobre dd{
    border: thin rgba(150, 0, 0, 0.9) solid;
    border-radius: 0px;
    margin-top: -2px;
    margin-bottom: 30px;
    padding: 30px;
}
#sobre dd a{
    font-weight: bold;
    color: red;
}

#sobre dd a:hover{
    color: darkred;
}

#sobre dd{
    text-align: center;
}